{% extends 'base.html' %}
{% block title %}
Account List
{% endblock title %}
{% block content %}
<div>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
